<!DOCTYPE html>
<html>
<head>
    <title>Flat Error Page a Flat Responsive Widget Template :: w3layouts</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <!-- For-Mobile-Apps-and-Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //For-Mobile-Apps-and-Meta-Tags -->
    <script src="../assets/jquery-3.3.1.min.js"></script>
</head>
<body>
<div class="main">
    <div class="agile">
        <div class="w3l">
            <div class="text">
                <h1>PAGE NOT FOUND</h1>

                <p>You have been tricked into click on a link that can not be found. Please check the url or go to <a href="login">main page</a> and see if you can locate what you are looking for</p>
            </div>
            <div class="image">
                <img src="../assets/images/smile.png">
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
</body>
</html>