<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.carryit.base.besttmwuu.dao.ActivityDao">

	<insert id="add">
		insert into t_activity (uid,bid,title,startTime,endTime,cerateTime,address,cost,peopleNumber,level,detail,images)
		values (#{uid},#{bid},#{title},#{startTime},#{endTime},#{cerateTime},#{address},#{cost},#{peopleNumber},#{level},#{detail},#{images})
	</insert>

	<select id="getPage" resultType="com.carryit.base.besttmwuu.entity.Activity">
		select a.id,a.uid,a.bid,a.title,a.startTime,a.endTime,a.cerateTime,a.address,a.cost,a.peopleNumber,a.level,a.detail,a.images,b.title board,m.levelname,sm.avatar logo,
		(select count(*) from t_signup s where s.aid=a.id) joinNumber
		from t_activity a
		LEFT JOIN ims_ewei_shop_member sm on a.uid =sm.uid
		LEFT JOIN ims_ewei_shop_sns_board b on a.bid =b.id
		LEFT JOIN ims_ewei_shop_member_level m on a.level = m.level
		ORDER BY a.cerateTime DESC

	</select>

	<select id="getPageCount" resultType="long">
		select count(*) from t_activity
	</select>

	<select id="getActivityById" resultType="com.carryit.base.besttmwuu.entity.Activity">
		select a.id,a.uid,u.phone,a.bid,a.title,a.startTime,a.endTime,a.cerateTime,a.address,a.cost,a.peopleNumber,a.level,a.detail,a.images,(select count(*) from t_signup s where s.aid=#{aid}) joinNumber
	    from t_activity a
	      left join ims_users u on u.uid = a.uid
	      WHERE a.id=#{aid}

</select>

	<insert id="signUpRelease">
		insert into t_signup (uid,aid,name,phone,sex,age)
		values (#{uid},#{aid},#{name},#{phone},#{sex},#{age})
	</insert>
</mapper>