<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.carryit.base.besttmwuu.dao.BoardFollowDao">


    <select id="getBoardByUid" resultType="com.carryit.base.besttmwuu.entity.BoardFollow">
        select id,bid,openid uid,createtime from ims_ewei_shop_sns_board_follow  where bid = #{bid} and openid =#{uid}

    </select>

    <delete id="delete">
        delete from ims_ewei_shop_sns_board_follow
        where bid = #{bid} and openid = #{uid}
    </delete>

    <insert id="add">
        insert into ims_ewei_shop_sns_board_follow (bid,openid,createtime)
        values (#{bid},#{uid},#{time})
    </insert>
</mapper>