<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.carryit.base.besttmwuu.dao.BoardFollowDao">


    <select id="getBoardByUid" resultType="com.carryit.base.besttmwuu.entity.BoardFollow">
        select id,bid,uid,createtime from ims_ewei_shop_sns_board_follow  where bid = #{bid} and uid =#{uid}

    </select>

    <select id="getBoardFollowByUId" resultType="com.carryit.base.besttmwuu.entity.Board">
        select b.id,b.cid,b.title,b.logo,b.banner, (select count(*) from ims_ewei_shop_member where zhuquanzi = b.id ) memberNumber from ims_ewei_shop_sns_board_follow bf  LEFT JOIN ims_ewei_shop_sns_board  b on bf.bid =b.id where  bf.uid =#{uid}

    </select>

    <delete id="delete">
        delete from ims_ewei_shop_sns_board_follow
        where bid = #{bid} and uid = #{uid}
    </delete>

    <insert id="add">
        insert into ims_ewei_shop_sns_board_follow (bid,uid,createtime)
        values (#{bid},#{uid},#{time})
    </insert>

    <select id="getMemberByZhuQuanZiId" resultType="com.carryit.base.besttmwuu.entity.Member">
    select m.id,m.realname,m.avatar,m.nickname,m.level,b.levelname
    from ims_ewei_shop_member m LEFT JOIN ims_ewei_shop_member_level b ON m.level = b.level  where m.zhuquanzi =#{zhuquanzi} order by m.level asc

    </select>

    <select id="getUnconcerned" resultType="com.carryit.base.besttmwuu.entity.Board">
       select b.id,b.cid,b.title,b.logo,b.banner,(select count(*) from ims_ewei_shop_sns_post p where p.bid =b.id ) topic from ims_ewei_shop_sns_board b where b.id not in(select bf.bid from ims_ewei_shop_sns_board_follow bf where bf.uid=#{uid}) order by topic desc

    </select>

    <select id="getTopicCount" resultType="long">
       select count(*) from ims_ewei_shop_sns_post where bid =#{bid}

    </select>
    <select id="getFollowCount" resultType="long">
       select count(*) from ims_ewei_shop_sns_board_follow  where bid = #{bid}

    </select>

    <select id="getAllBoardTopic" resultType="com.carryit.base.besttmwuu.entity.Post">
        select sp.uid,sp.id,sp.bid,m.avatar,sp.content,sp.image,m.nickname,sp.createtime from ims_ewei_shop_sns_post sp JOIN ims_ewei_shop_member m on sp.uid=m.uid
        where sp.pid is null
        <if test="bid != null and bid != 0">
           AND sp.bid =#{bid}
        </if>
          ORDER by sp.createtime desc

    </select>
    <select id="getAllBoardTopicCount" resultType="long">
        select count(*) from ims_ewei_shop_sns_post where 1=1
        <if test="bid != null and bid != 0">
            AND bid =#{bid}
        </if>
    </select>

    <select id="getboardIDListUId" resultType="int">
        select bid from ims_ewei_shop_sns_board_follow  where uid =#{uid}

    </select>

    <select id="getNewAllBoardTopic" resultType="com.carryit.base.besttmwuu.entity.Post">
        select sp.id,sp.bid,m.avatar,sp.content,sp.image,m.nickname,sp.createtime from ims_ewei_shop_sns_post sp JOIN ims_ewei_shop_member m on sp.uid=m.uid
        where sp.pid is null and sp.bid IN
        <foreach collection="boardIDList" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        ORDER by sp.createtime desc

    </select>

    <select id="getNewAllBoardTopicCount" resultType="long">
        select count(*) from ims_ewei_shop_sns_post where bid IN
        <foreach collection="boardIDList" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>

    </select>

</mapper>