<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.carryit.base.besttmwuu.dao.CirclesDao">


    <select id="getCircles" resultType="com.carryit.base.besttmwuu.entity.Circles">
        select id,name from ims_ewei_shop_sns_category

    </select>

    <!--通过圈子标题模糊查询圈子信息-->
    <select id="getCirclesInfo" resultType="com.bean.resp.CirclesResp">
        select id,title from ims_ewei_shop_sns_board
        where title like CONCAT("%",#{title},"%")
        ORDER BY id ASC
        limit #{pageIndex}, #{pageSize}
    </select>


    <!--根据圈子ID更新文化墙-->
    <update id="updateCulturewallByBid" parameterType="com.carryit.base.besttmwuu.entity.Culturewall">
        UPDATE ims_ewei_shop_sns_board
        <set>
            <if test="culturewall != null">
                culturewall =#{culturewall},
            </if>
        </set>
        where id = #{bid}
    </update>
</mapper>