<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carryit.base.besttmwuu.dao.imsEweiShopMemberMessageTemplateTypeMapper">
  <resultMap id="BaseResultMap" type="com.carryit.base.besttmwuu.entity.imsEweiShopMemberMessageTemplateType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="typecode" jdbcType="VARCHAR" property="typecode" />
    <result column="templatecode" jdbcType="VARCHAR" property="templatecode" />
    <result column="templateid" jdbcType="VARCHAR" property="templateid" />
    <result column="templatename" jdbcType="VARCHAR" property="templatename" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="showtotaladd" jdbcType="BIT" property="showtotaladd" />
    <result column="typegroup" jdbcType="VARCHAR" property="typegroup" />
    <result column="groupname" jdbcType="VARCHAR" property="groupname" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, typecode, templatecode, templateid, templatename, content, showtotaladd, 
    typegroup, groupname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ims_ewei_shop_member_message_template_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ims_ewei_shop_member_message_template_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.carryit.base.besttmwuu.entity.imsEweiShopMemberMessageTemplateType">
    insert into ims_ewei_shop_member_message_template_type (id, name, typecode, 
      templatecode, templateid, templatename, 
      content, showtotaladd, typegroup, 
      groupname)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{typecode,jdbcType=VARCHAR}, 
      #{templatecode,jdbcType=VARCHAR}, #{templateid,jdbcType=VARCHAR}, #{templatename,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{showtotaladd,jdbcType=BIT}, #{typegroup,jdbcType=VARCHAR}, 
      #{groupname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.carryit.base.besttmwuu.entity.imsEweiShopMemberMessageTemplateType">
    insert into ims_ewei_shop_member_message_template_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="typecode != null">
        typecode,
      </if>
      <if test="templatecode != null">
        templatecode,
      </if>
      <if test="templateid != null">
        templateid,
      </if>
      <if test="templatename != null">
        templatename,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="showtotaladd != null">
        showtotaladd,
      </if>
      <if test="typegroup != null">
        typegroup,
      </if>
      <if test="groupname != null">
        groupname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="typecode != null">
        #{typecode,jdbcType=VARCHAR},
      </if>
      <if test="templatecode != null">
        #{templatecode,jdbcType=VARCHAR},
      </if>
      <if test="templateid != null">
        #{templateid,jdbcType=VARCHAR},
      </if>
      <if test="templatename != null">
        #{templatename,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="showtotaladd != null">
        #{showtotaladd,jdbcType=BIT},
      </if>
      <if test="typegroup != null">
        #{typegroup,jdbcType=VARCHAR},
      </if>
      <if test="groupname != null">
        #{groupname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.carryit.base.besttmwuu.entity.imsEweiShopMemberMessageTemplateType">
    update ims_ewei_shop_member_message_template_type
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="typecode != null">
        typecode = #{typecode,jdbcType=VARCHAR},
      </if>
      <if test="templatecode != null">
        templatecode = #{templatecode,jdbcType=VARCHAR},
      </if>
      <if test="templateid != null">
        templateid = #{templateid,jdbcType=VARCHAR},
      </if>
      <if test="templatename != null">
        templatename = #{templatename,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="showtotaladd != null">
        showtotaladd = #{showtotaladd,jdbcType=BIT},
      </if>
      <if test="typegroup != null">
        typegroup = #{typegroup,jdbcType=VARCHAR},
      </if>
      <if test="groupname != null">
        groupname = #{groupname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.carryit.base.besttmwuu.entity.imsEweiShopMemberMessageTemplateType">
    update ims_ewei_shop_member_message_template_type
    set name = #{name,jdbcType=VARCHAR},
      typecode = #{typecode,jdbcType=VARCHAR},
      templatecode = #{templatecode,jdbcType=VARCHAR},
      templateid = #{templateid,jdbcType=VARCHAR},
      templatename = #{templatename,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      showtotaladd = #{showtotaladd,jdbcType=BIT},
      typegroup = #{typegroup,jdbcType=VARCHAR},
      groupname = #{groupname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>