<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.carryit.base.xmuu.dao.ImsUserCapitalFlowDao">

    <!--保存资金流水-->
    <insert id="save">
        insert into ims_user_capital_flow (uid,price,type,source,createTime)
        values(#{uid},#{price},#{type},#{source},NOW())
    </insert>

    <select id="getBillsbyUid" resultType="com.carryit.base.xmuu.entity.ImsUserCapitalFlowEntity">
        select cf.id,cf.uid,cf.price formatPrice,cf.price price,cf.type,cf.source,m.avatar,m.nickName,DATE_FORMAT(cf.createTime,'%Y-%m-%d %H:%i:%s') createTime
        from ims_user_capital_flow cf
        left join ims_ewei_shop_member m on cf.uid  = m.uid where cf.uid = #{uid}
    </select>

    <!--我的收益-->
    <select id="getMyProfit" resultType="double">
        SELECT IFNULL(sum(price),0) as profit FROM ims_user_capital_flow where  uid =#{uid} and source in(4,5,6,7)
    </select>

    <!--我的账单-->
    <select id="getMyBill" resultType="com.carryit.base.xmuu.entity.ImsUserCapitalFlowEntity">
        SELECT price,type,source,createTime FROM ims_user_capital_flow
        where uid = #{uid}
        ORDER BY createTime DESC
        limit #{page},#{pageSize}

    </select>

</mapper>