<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.carryit.base.besttmwuu.dao.MemberDao">


	<select id="getMemberById" resultType="com.carryit.base.besttmwuu.entity.Member"
		parameterType="Integer">
		<!-- select b.levelname levelName from ims_ewei_shop_member a left join 
			ims_ewei_shop_member_level b on a.level = b.level where a.uid = #{uid}
			select id,avatar,realName,city,nickName from ims_ewei_shop_member m where 
			id = #{uid} -->
		SELECT a.uid,a.id,a.avatar,a.city,a.nickName,b.levelname levelName,a.zhuquanzi,a.autograph,a.level,a.credit2 FROM
		ims_ewei_shop_member a LEFT JOIN ims_ewei_shop_member_level b ON
		a.level = b.level WHERE a.uid = #{uid}
	</select>


	<select id="getWealthById" resultType="com.carryit.base.besttmwuu.entity.Member"
		parameterType="Integer">
		select credit2,credit1 from ims_ewei_shop_member where uid = #{uid}

	</select>

	<select id="getMemberByUIdAndLevel" resultType="int">
		select COUNT(*) from ims_ewei_shop_member where zhuquanzi = #{zhuquanzi} and level = #{level}

	</select>

	<update id="updateMemberByUIdAndLevel">
		update ims_ewei_shop_member set
		level = #{level}
		where uid = #{uid}
	</update>

	<select id="getnormalMember" resultType="com.carryit.base.besttmwuu.entity.Member">
		select m.id,m.zhuquanzi,m.uid,m.realname,m.avatar,m.nickname,m.level,b.levelname,(select sum(o.price) from ims_ewei_shop_order o where o.uid=m.uid and o.status = '3' and o.createtime >=#{startTime} and o.createtime &lt;=#{endTime}) credit2
		from ims_ewei_shop_member m
		LEFT JOIN ims_ewei_shop_member_level b ON m.level = b.level
		where m.zhuquanzi =#{zhuquanzi} and m.level not in("0","1","2") order by level

	</select>

	<select id="getnormalMemberCount" resultType="long">
		select count(*)
		from ims_ewei_shop_member
		where zhuquanzi =#{zhuquanzi} and level not in("0","1","2")

	</select>

	<select id="getadminMember" resultType="com.carryit.base.besttmwuu.entity.Member">
		select m.id,m.zhuquanzi,m.uid,m.realname,m.avatar,m.nickname,m.level,b.levelname,(select sum(o.price) from ims_ewei_shop_order o where o.uid=m.uid and o.status = '3' and o.createtime >=#{startTime} and o.createtime &lt;=#{endTime}) credit2
		from ims_ewei_shop_member m
		LEFT JOIN ims_ewei_shop_member_level b ON m.level = b.level
		where m.zhuquanzi =#{zhuquanzi} and m.level in("0","1","2") order by level

	</select>

	<select id="getadminMemberCount" resultType="long">
		select count(*)
		from ims_ewei_shop_member
		where zhuquanzi =#{zhuquanzi} and level in("0","1","2")

	</select>

	<select id="showMember" resultType="com.carryit.base.besttmwuu.entity.MemberDTO">
		SELECT a.uid,a.nickName,u.hidePhone,a.autograph,b.levelname levelName,u.corporateName,count(s.number) sincerity,u.phone,u.mailbox,u.address,u.companyProfile,a.avatar banner FROM ims_users u LEFT JOIN t_sincerity s ON u.uid=s.uid LEFT JOIN
		ims_ewei_shop_member a ON u.uid=a.uid LEFT JOIN ims_ewei_shop_member_level b ON a.level = b.level WHERE a.uid = #{uid}
	</select>

	<!--更新账户余额-->
	<update id="updateMemberByUid" >
		update ims_ewei_shop_member set
		credit2 = #{credit2}
		where uid = #{uid}
	</update>

	<!--更新账户积分-->
	<update id="updateCredit1" >
		update ims_ewei_shop_member set
		credit1 = #{credit1}
		where uid = #{uid}
	</update>
	<!--隐藏和显示手机号码-->
	<update id="updateUserByUid" parameterType="com.carryit.base.besttmwuu.entity.UserReq">
		update ims_users set
		hidePhone = #{hidePhone}
		where uid = #{uid}
	</update>
	<!--隐藏和显示诚信值-->
	<update id="updateSincerityByUid" parameterType="com.carryit.base.besttmwuu.entity.UserQeq">
		update ims_users set
		hideSincerity = #{hideSincerity}
		where uid = #{uid}
	</update>


	<!--更新会员主圈子,和会员等级-->
	<update id="updateMemberZhuQuanZi" >
		update ims_ewei_shop_member set
		zhuquanzi = #{zhuquanzi},
		level = #{level}
		where uid = #{uid}
	</update>

	<insert id="addMember" parameterType="com.carryit.base.besttmwuu.entity.Member">
		insert into ims_ewei_shop_member
		<trim prefix="(" suffix=")" suffixOverrides=",">

			<if test="uid != null and uid !=0">
				uid,
			</if>
			<if test="level != null">
				level,
			</if>
			<if test="avatar != null">
				avatar,
			</if>

			<if test="nickName != null">
				nickName,
			</if>

			<if test="city != null">
				city,
			</if>
			<if test="autograph != null">
				autograph,
			</if>
			<if test="zhuquanzi != null and zhuquanzi != 0">
				zhuquanzi,
			</if>
			<if test="createtime != null ">
				createtime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">

			<if test="uid != null and uid != 0">
				#{uid},
			</if>
			<if test="level != null ">
				#{level},
			</if>
			<if test="avatar != null">
				#{avatar},
			</if>

			<if test="nickName != null">
				#{nickName},
			</if>
			<if test="city != null">
				#{city},
			</if>
			<if test="autograph != null">
				#{autograph},
			</if>
			<if test="zhuquanzi != null and zhuquanzi != 0">
				#{zhuquanzi},
			</if>
			<if test="createtime != null ">
				#{createtime},
			</if>
		</trim>
	</insert>

	<select id="getMemberDataByUId" resultType="com.carryit.base.besttmwuu.entity.MemberData">
		select uid,nickName,city,autograph,avatar,openid,realname,credit2,level
		from ims_ewei_shop_member
		where uid =#{uid}

	</select>

	<update id="updateMemberDataByUId"  parameterType="com.carryit.base.besttmwuu.entity.MemberData">
		update ims_ewei_shop_member
		<set>
			<if test="nickName != null">
				nickName = #{nickName},
			</if>
			<if test="city != null">
				city = #{city},
			</if>
			<if test="autograph != null">
				autograph = #{autograph},
			</if>

			<if test="avatar != null">
				avatar =#{avatar},
			</if>
		</set>
		where uid = #{uid}
	</update>

	<!--通过手机号查询member信息-->
	<select id="getMemberByPhone" resultType="com.carryit.base.besttmwuu.entity.Member">
		SELECT m.uid,m.avatar,m.nickname FROM ims_users u
		LEFT JOIN ims_ewei_shop_member m
		ON u.uid = m.uid
		where u.phone = #{phone}
	</select>

	<select id="getMember" resultType="com.carryit.base.besttmwuu.entity.Member">
		select id,uid,level from ims_ewei_shop_member where uid = #{uid} and zhuquanzi = #{bid}

	</select>
	<!--查询直属-->
	<select id="getUserByCode" resultType="com.carryit.base.besttmwuu.entity.UserCodeRep">
		select m.uid,m.avatar,m.nickname,m.createtime,l.levelname,u.phone, 1 as subordinate from ims_users u right join ims_ewei_shop_member m ON u.uid = m.uid right join ims_ewei_shop_member_level l on m.level=l.level where u.iCode=#{iCode}
		limit #{currentResult},#{pageSize}
	</select>

	<select id="count" resultType="int">
		select count(1) from ims_users u right join ims_ewei_shop_member m ON u.uid = m.uid where u.iCode=#{iCode}
	</select>

	<!--查询我的团队-->
	<select id="getAllByCode" resultType="com.carryit.base.besttmwuu.entity.UserCodeRep">
		-- 直属
		SELECT
		m.uid,
		m.avatar,
		m.nickname,
		m.createtime,
		l.levelname,
		u.phone, 1 as subordinate
		FROM
		ims_users u
		RIGHT JOIN ims_ewei_shop_member m ON u.uid = m.uid
		right join ims_ewei_shop_member_level l on m.level=l.level
		WHERE
		u.iCode = #{iCode}
		UNION
		SELECT
		m.uid,
		m.avatar,
		m.nickname,
		m.createtime,
		l.levelname,
		u.phone,2 as subordinate
		FROM
		ims_users u
		RIGHT JOIN ims_ewei_shop_member m ON u.uid = m.uid
		right join ims_ewei_shop_member_level l on m.level=l.level
		WHERE
		u.iCode  in  (SELECT u.phone FROM ims_users u RIGHT JOIN ims_ewei_shop_member m ON u.uid = m.uid WHERE u.iCode = #{iCode})
		UNION
		SELECT
		m.uid,
		m.avatar,
		m.nickname,
		m.createtime,
		l.levelname,
		u.phone,3 as subordinate
		FROM
		ims_users u
		RIGHT JOIN ims_ewei_shop_member m ON u.uid = m.uid
		right join ims_ewei_shop_member_level l on m.level=l.level
		WHERE
		u.iCode in (SELECT u.phone
		FROM
		ims_users u
		RIGHT JOIN ims_ewei_shop_member m ON u.uid = m.uid
		right join ims_ewei_shop_member_level l on m.level=l.level
		WHERE
		u.iCode  in  (SELECT u.phone FROM ims_users u RIGHT JOIN ims_ewei_shop_member m ON u.uid = m.uid right join ims_ewei_shop_member_level l on m.level=l.level WHERE u.iCode = #{iCode}) )
		limit #{currentResult},#{pageSize}
	</select>


	<select id="allCount" resultType="int">

		SELECT count(1) FROM
		(SELECT
		u.phone
		FROM
		ims_users u
		RIGHT JOIN ims_ewei_shop_member m ON u.uid = m.uid
		WHERE
		u.iCode =  #{iCode}
		UNION
		SELECT
		u.phone
		FROM
		ims_users u
		RIGHT JOIN ims_ewei_shop_member m ON u.uid = m.uid
		WHERE
		u.iCode  in  (SELECT u.phone FROM ims_users u RIGHT JOIN ims_ewei_shop_member m ON u.uid = m.uid WHERE u.iCode = #{iCode})
		UNION
		SELECT
		u.phone
		FROM
		ims_users u
		RIGHT JOIN ims_ewei_shop_member m ON u.uid = m.uid
		WHERE
		u.iCode in (SELECT u.phone
		FROM
		ims_users u
		RIGHT JOIN ims_ewei_shop_member m ON u.uid = m.uid
		WHERE
		u.iCode  in  (SELECT u.phone FROM ims_users u RIGHT JOIN ims_ewei_shop_member m ON u.uid = m.uid WHERE u.iCode =  #{iCode}) )) temp;

	</select>


	<select id="getLevelByICode" resultType="com.carryit.base.besttmwuu.entity.Member">
		SELECT m.level,m.uid FROM ims_users u RIGHT JOIN ims_ewei_shop_member m ON u.uid=m.uid WHERE phone=#{iCode}

	</select>
	<select id="getICodeByUid" resultType="com.carryit.base.besttmwuu.entity.User">
		SELECT iCode FROM ims_users WHERE uid=#{uid}

	</select>
</mapper>
