<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.carryit.base.besttmwuu.dao.SincerityDao">

    <select id="getNumberById" resultType="int" parameterType="Integer">
        select count(number) from t_sincerity where uid = #{uid}
    </select>

    <insert id="insterLikes" parameterType="com.carryit.base.besttmwuu.entity.User">
        insert into t_sincerity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                uid,
            </if>
            <if test="number != null">
                number,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="updateTime != null">
                updateTime,
            </if>
            <if test="channel != null">
                channel,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">

            <if test="uid != null">
                #{uid,jdbcType=VARCHAR},
            </if>
            <if test="number != null">
                #{number,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=VARCHAR},
            </if>
            <if test="channel != null">
                #{channel,jdbcType=VARCHAR},
            </if>

        </trim>
    </insert>
    <update id="updateLikes" parameterType="com.carryit.base.besttmwuu.entity.User">
        update t_sincerity
        <set>
            <if test="uid != null">
                #{uid,jdbcType=VARCHAR},
            </if>
            <if test="number != null">
                #{number,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=VARCHAR},
            </if>
            <if test="channel != null">
                #{channel,jdbcType=VARCHAR},
            </if>
        </set>
    </update>
    
    <select id="querySincerityByUserId" resultType="com.carryit.base.besttmwuu.entity.Sincerity">
    	select id, uid, number, DATE_FORMAT(createTime,'%Y-%m-%d %H:%i:%s') createTime from t_sincerity where uid=#{uid}
    </select>
    
    <insert id="addOne" parameterType="com.carryit.base.besttmwuu.entity.Sincerity" useGeneratedKeys="true">
    	insert into t_sincerity(uid, number, updateTime) values(#{uid}, #{number}, #{updateTime})
    </insert>
    
    <update id="updateOne" parameterType="com.carryit.base.besttmwuu.entity.Sincerity">
    	update t_sincerity set updateTime=#{updateTime}, number=#{number} where uid=#{uid}
    </update>

    <select id="getSincerityList" resultType="com.carryit.base.besttmwuu.entity.UserDTO">
        select s.uid,m.nickname,m.avatar profilePhoto,sum(s.number) sincerity
        from t_sincerity s
        join ims_ewei_shop_member m on s.uid  = m.uid where s.createTime &gt;= #{startTime}  and s.createTime &lt;= #{endTime}
        GROUP BY s.uid ORDER BY sum(s.number) desc limit 6
    </select>

    <select id="queryList" resultType="com.carryit.base.besttmwuu.entity.UserDTO">
        select s.uid,m.nickname,m.avatar profilePhoto ,sum(s.number) sincerity
        from t_sincerity s
        join ims_ewei_shop_member m on s.uid  = m.uid where s.createTime &gt;= #{startTime}  and s.createTime &lt;= #{endTime}
        GROUP BY s.uid ORDER BY sum(s.number) desc limit 100
    </select>
</mapper>