<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.carryit.base.besttmwuu.dao.SincerityDao">

    <select id="getNumberById" resultType="com.carryit.base.besttmwuu.entity.Sincerity" parameterType="Integer">
        select * from t_sincerity where id = #{uid}
    </select>

    <insert id="insterLikes" parameterType="com.carryit.base.besttmwuu.entity.User">
        insert into t_sincerity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                uid,
            </if>
            <if test="number != null">
                number,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="updateTime != null">
                updateTime,
            </if>
            <if test="channel != null">
                channel,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">

            <if test="uid != null">
                #{uid,jdbcType=VARCHAR},
            </if>
            <if test="number != null">
                #{number,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=VARCHAR},
            </if>
            <if test="channel != null">
                #{channel,jdbcType=VARCHAR},
            </if>

        </trim>
    </insert>
    <update id="updateLikes" parameterType="com.carryit.base.besttmwuu.entity.User">
        update t_sincerity
        <set>
            <if test="uid != null">
                #{uid,jdbcType=VARCHAR},
            </if>
            <if test="number != null">
                #{number,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=VARCHAR},
            </if>
            <if test="channel != null">
                #{channel,jdbcType=VARCHAR},
            </if>
        </set>
    </update>
</mapper>