<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.carryit.base.besttmwuu.dao.TFriendsDao">

    <!--保存好友请求-->
   <insert id="save">
        insert into t_friends(uid,nickName,avatar,processingTime,state,toAddUsername)
       values(#{uid},#{nickName},#{avatar},#{processingTime},#{state},#{toAddUsername})

   </insert>

    <!--审核好友申请-->
    <update id="update">
    update t_friends
        set withTime = now(),state = #{state}
    where id = #{id}
    </update>

    <!--获取好友列表-->
    <select id="getFriends" resultType="com.carryit.base.besttmwuu.entity.TFriends">
        SELECT f.id,u.phone toAddUsername,m.uid,m.nickname,m.avatar,f.processingTime,f.withTime,f.state FROM t_friends f LEFT JOIN ims_ewei_shop_member m ON f.uid=m.uid LEFT JOIN ims_users u on f.uid=u.uid WHERE toAddUsername =#{phone} AND state = 2 limit #{pageIndex}, #{pageSize}
    </select>

    <!--统计好友申请-->
    <select id="totalFriends" resultType="int">
        select count(*) from t_friends
        where toAddUsername = #{phone} and state = 2
    </select>

    <!--获取好友列表-->
    <select id="isFriends" resultType="com.carryit.base.besttmwuu.entity.TFriends">
        select * from t_friends
        where uid = #{loginUid} and toAddUsername = #{phone} AND state = 1
    </select>

    <!--根据手机号码和uid查询数据-->
    <select id="getAllByUidPhone" resultType="com.bean.req.FriendsReq">
        SELECT * FROM t_friends WHERE uid = #{uid} and toAddUsername = #{phone};
    </select>

</mapper>