<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.carryit.base.besttmwuu.dao.UserDao">
	<!--<resultMap id="BaseResultMap" type="com.carryit.base.besttmwuu.entity.User">-->
		<!--<id column="id" property="id" jdbcType="INTEGER" />-->
		<!--<result column="user_name" property="userName" jdbcType="VARCHAR" />-->
		<!--<result column="password" property="password" jdbcType="VARCHAR" />-->
		<!--<result column="age" property="age" jdbcType="INTEGER" />-->
	<!--</resultMap>-->
	<sql id="Base_Column_List">
		uid, phone, password, age
	</sql>
	<select id="selectByPrimaryKey" resultType="com.carryit.base.besttmwuu.entity.User"
		>
		select
		uid,phone,hideSincerity
		from ims_users
		where uid = #{uid}
	</select>
	<!--后台登录用户匹配数据库-->
	<select id="getUserByPoneAndPassword" resultType="com.carryit.base.besttmwuu.entity.User">

		SELECT * from ims_users where phone=#{phone} or username = #{phone}


	</select>

	<insert id="insertSelective" parameterType="com.carryit.base.besttmwuu.entity.User" useGeneratedKeys="true" keyProperty="uid" keyColumn="uid">
		insert into ims_users
		<trim prefix="(" suffix=")" suffixOverrides=",">

			<if test="userName != null">
				username,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="age != null">
				age,
			</if>
			<if test="idCard != null">
				idCard,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="companyProfile != null">
				companyProfile,
			</if>
			<if test="need != null">
				need,
			</if>
			<if test="education != null">
				education,
			</if>
			<if test="mailbox != null">
				mailbox,
			</if>
			<if test="corporateName != null">
				corporateName,
			</if>
			<if test="marriage != null">
				marriage,
			</if>
			<if test="services != null">
				services,
			</if>
			<if test="sex != null">
				sex,
			</if>
			<if test="iCode != null">
				iCode,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">

			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="age != null">
				#{age,jdbcType=VARCHAR},
			</if>
			<if test="idCard != null">
				#{idCard,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="companyProfile != null">
				#{companyProfile,jdbcType=VARCHAR},
			</if>
			<if test="need != null">
				#{need,jdbcType=VARCHAR},
			</if>
			<if test="education != null">
				#{education,jdbcType=VARCHAR},
			</if>
			<if test="mailbox != null">
				#{mailbox,jdbcType=VARCHAR},
			</if>
			<if test="corporateName != null">
				#{corporateName,jdbcType=VARCHAR},
			</if>
			<if test="marriage != null">
				#{marriage,jdbcType=VARCHAR},
			</if>
			<if test="services != null">
				#{services,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				#{sex,jdbcType=VARCHAR},
			</if>
			<if test="iCode != null">
				#{iCode,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateUser"  parameterType="com.carryit.base.besttmwuu.entity.User">
		update ims_users
		<set>
			<if test="userName != null">
				username = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="age != null">
				age = #{age,jdbcType=INTEGER},
			</if>

			<if test="phone != null">
				phone =#{phone},
			</if>

			<if test="idCard != null">
				idCard=#{idCard},
			</if>
			<if test="address != null">
				address=#{address},
			</if>
			<if test="companyProfile != null">
				companyProfile=#{companyProfile},
			</if>
			<if test="need != null">
				need=#{need},
			</if>
			<if test="education != null">
				education=#{education},
			</if>
			<if test="mailbox != null">
				mailbox=#{mailbox},
			</if>
			<if test="corporateName != null">
				corporateName=#{corporateName},
			</if>
			<if test="marriage != null">
				marriage=#{marriage},
			</if>
			<if test="services != null">
				services=#{services},
			</if>
			<if test="sex != null">
				sex=#{sex},
			</if>
		</set>
		where uid = #{uid,jdbcType=INTEGER}
	</update>
<!--	<update id="updateByPrimaryKey" parameterType="com.carryit.base.besttmwuu.entity.User">
		update t_user
		set user_name = #{userName,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR},
		age = #{age,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>-->

	<!-- 根据手机号查表  -->
	<select id="selectByPhone" resultType="com.carryit.base.besttmwuu.entity.User"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from ims_users
		where phone = #{phone,jdbcType=VARCHAR}
	</select>

	<update id="updatePassWord">
		update ims_users set
		password = #{password}
		where phone = #{phone}
	</update>

	<!--通过ID查-->
	<select id="getUserById" resultType="com.carryit.base.besttmwuu.entity.User">
		select * from ims_users where uid = #{id}

	</select>
</mapper>